<%- include ("header") -%>
<div class="box" id="heading">
  <h1>It's <%=listTitle%> my dudes!</h1>
</div>
<div class="box">
  <%for(var i = 0; i < newitem.length;i++){ %>
  <form action="/delete" method="POST">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=newitem[i]._id%>" onChange="this.form.submit()"/>
      <p><%=newitem[i].name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=listTitle%>">
  </form>
  <% } %>

  <form class="item" action="/" method="POST">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>
<%- include ("footer") -%>
