<%- include ("header") -%>
<div class="box" id="heading">
  <h1>It's <%=listTitle%> my dudes!</h1>
</div>
<div class="box">
  <%for(var i = 0; i < newitem.length;i++){ %>
  <div class="item">
    <input type="checkbox" name="" id="" />
    <p><%=newitem[i].name%></p>
  </div>
  <% } %>

  <form class="item" action="/" method="POST">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>
<%- include ("footer") -%>
